<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Estudiantes</title>
        <meta charset="UTF-8"></meta>
        <script src="static/js/VistasJS.js" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <h1>Registros de Estudiantes</h1>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Identificación</th>
                        <th>Nivel Cursado</th>
                        <th>Edad</th>
                        <th>Altura</th>
                        <th>Peso</th>
                        <th>Género</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="estudiante : ${estudiantes}">
                        <td th:text="${estudiante.id}"></td>
                        <td th:text="${estudiante.nombre}"></td>
                        <td th:text="${estudiante.identificacion}"></td>
                        <td th:text="${estudiante.nivelCursado}"></td>
                        <td th:text="${estudiante.edad}"></td>
                        <td th:text="${estudiante.altura}"></td>
                        <td th:text="${estudiante.peso}"></td>
                        <td th:text="${estudiante.genero}"></td>
                        <td>
                            <button onclick="editarEstudiante()">Editar</button> |
                            <button onclick="eliminarEstudiante()">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <a th:href="@{/nuevo-estudiante}">Agregar Estudiante</a>
            </div>
        </div>
    </body>
</html>